<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" type="text" name="userID" [(ngModel)]="user.username" class="mat-form-field-autofill-control">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="text" name="Email" [(ngModel)]="user.email" class="mat-form-field-autofill-control">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select matNativeControl required [(ngModel)]="user.type" name="selectedValue">
            <mat-option  *ngFor="let roles of Roles" [value]="roles.valueOf()">
              {{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)="RegisterUser()">Register</button>

    </form>
  </mat-card>
</div>
