<mat-toolbar color="accent">
  <mat-toolbar-row class="right">
    Welcome To Exam Panel
    <a href="#" role="button" (click)="LogOut()" style="alignment: center">LogOut <span class="glyphicon-log-out"></span></a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <div class="col-sm-5"><br>
            <mat-label class="mat-step-label-active control-label" style="font-size: medium">
              Select Exam For MCQ Test
            </mat-label><br>
            <mat-form-field>
              <mat-select matNativeControl required [(ngModel)]="SelectedExam" name="exam" (click)="getExam()">
                <mat-option *ngFor="let exam of exams" [value]="exam">{{exam.examtitle}}</mat-option>
              </mat-select>
            </mat-form-field><br>
          </div>
        </div>
      </div>
      <div class="col-sm-5" *ngFor="let opt of qts">
        <ul>
          {{opt.question}}
        </ul>
        <ul>
          <div class="checkbox" *ngFor="let gpt of choices">
            <label>
              <input type="checkbox">
              {{gpt.choice}}
              <span  class="cr"></span>
            </label><br>
          </div>
        </ul>
      </div>
      <button mat-raised-button color="primary" >previous</button>
      <button mat-raised-button color="primary" >next</button>
    </form>
  </div>
</div>

